<!-- 
  This file uses pre-made icons 
  Date: 5/30/2023
  Based off:
  Source URL: https://www.w3schools.com/howto/howto_css_icon_buttons.asp
              https://www.w3schools.com/icons/fontawesome_icons_directional.asp

#   This file uses a default value of NULL when user selects None from dropdown
 #   Date: 5/30/2023
 #   Incorporated from:
 #   Source URL: https://itecnote.com/tecnote/jinja2-template-variable-if-none-object-set-a-default-value/
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hex Heros IT Management</title>
</head>

<body>
    <h1>Departments</h1>
    <p>Welcome to the Departments page. This section allows you to manage and organize the departments within your organization.</p>
    <a href="/" button class="btn"><i class="fa fa-home"></i>  Home</a></button>
    <br>
    <br>
    <br>
    <a href="/new_department" button class="btn"><i class="fa fa-plus"></i> New Department</a></button>
    <br>
    <br>
    <br>
    <table>
        <tr>
            <th>Department ID</th>
            <th>Department Name</th>
            <th>Manager</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for department in departments %}
        <tr>
            <td>{{ department.dept_id }}</td>
            <td>{{ department.dept_name }}</td>
            <td>
                {% if department.first_name is none and department.last_name is none %}
                    NULL
                {% else %}
                    {{ department.first_name }} {{ department.last_name }}
                {% endif %}
            </td>
            <td><a href="/edit_department/{{ department.dept_id }}" class="edit-icon"><i class="fas fa-pencil-alt"></i></td>
            <td><a href="/delete_department/{{ department.dept_id }}" class="delete-icon"><i class="fas fa-trash-alt"></i></td>
            </tr>
        {% endfor %}
    </table>
</body>

</html>
