<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hex Heros IT Management</title>

</head>

<body>
    <h1>Edit Department</h1>
    <p>This section allows you to edit a department in the Hex Heros IT Management system.</p>
    <a href="/departments">Back</a>
    <br>
    <hr>
    <div>
        <form action="/edit_department/{{ departments[0].dept_id }}" method="POST">
            <input type="hidden" id="dept_id" name="employee_id" value="{{ departments[0].dept_id }}"><br>
            <label for="dept_name">Department Name:</label>
            <input type="text" id="dept_name" name="dept_name" value="{{ departments[0].dept_name }}">
            <label for="manager_employee_id">Manager:</label>
            <select id="manager_employee_id" name="manager_employee_id">
                {% for employee in employees %}
                    <option value="{{ employee['employee_id'] }}" {% if employee['employee_id'] == departments[0].manager.employee_id %}selected{% endif %}>
                        {{ employee['first_name'] }}" {{ manager['last_name'] }}
                    </option>
                {% endfor %}
            <input type="submit" value="Submit"><br>
            <br>
        </form>
    </div>
</body>

</html>
