<!-- 
 #   This file uses some of the css/html from bootstrap as well as a pre-made icon
 #   Date: 5/30/2023
 #   Incorporated from:
 #   Source URL: https://epicbootstrap.com/snippets/registration
                 https://www.w3schools.com/icons/fontawesome_icons_directional.asp
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hex Heros IT Management</title>

</head>

<body>
    <h1>Edit Department</h1>
    <p>This section allows you to edit a department in the Hex Heros IT Management system.</p>
    <a href="/departments" button class="btn"><i class="fa fa-close"></i>Back</a>
    <br>
    <hr>

    <div>
        <form action="/edit_department/{{ departments[0].dept_id }}" method="POST">
            <input type="hidden" id="dept_id" name="employee_id" value="{{ departments[0].dept_id }}"><br>
            <label for="dept_name">Department Name:</label>
            <select id="dept_name" name="dept_name">
                <option value="">None</option>
                {% for department in departments %}
                    <option value="{{ department['dept_name'] }}" {% if department['dept_name'] == departments[0].dept_name %}selected{% endif %}>
                        {{ department['dept_name'] }}
                    </option>
                {% endfor %}
            </select>
            <label for="manager_employee_id">Manager:</label>
            <select id="manager_employee_id" name="manager_employee_id">
                {% for employee in employees %}
                    <option value="{{ employee['employee_id'] }}" {% if employee['employee_id'] == departments.manager_employee_id %}selected{% endif %}>
                        {{ employee['first_name'] }} {{ employee['last_name'] }}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit"><br>
            <br>
        </form>
    </div>
</body>

</html>
